@using ShopASPNet.Models.Items
@using System.Globalization
@model Item

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h2>Details page</h2>

<div class="mb-3">
    <a class="btn btn-primary" asp-action="Index">&#x2190; Back</a>
</div>

<table class="table table-striped">
    <tbody>
    <tr>
        <td>Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>@Model.Price.ToString(CultureInfo.InvariantCulture)$</td>
    </tr>
    <tr>
        <td>Created</td>
        <td>@Model.Created.ToShortDateString()</td>
    </tr>
    <tr>
        <td>Last updated</td>
        <td>@Model.LastEdited.ToShortDateString()</td>
    </tr>
    </tbody>
</table>